*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #111;
}

body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    max-width: 1200px;
    background-color: #e9e9e9;
    color: #111;
}

.big-first-letter::first-letter {
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 80px;
    padding: 24px 32px;
    background-color: #fafafa;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.logo span {
    font-style: italic;
}

.logo img {
    height: 24px;
    width: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.big-first-letter a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
}

.social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.social-list img {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
}

main {
    background-color: #fafafa;
}

.start-page {
    margin: 0 32px;
    height: 600px;
    background: rgba(17, 17, 17, 0.4);
    border-radius: 30px;
}

.main-head {
    display: flex;
    flex-direction: column;
    padding: 381px 40px 40px;
    gap: 32px;
}

.slog {
    width: 484px;
    text-align: left;
}

.slog h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.two-buttons {
    display: flex;
    gap: 14px;
}

.button-props {
    border-radius: 100px;
    padding: 14px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.button-props:first-child,
.button-props:first-child {
    border: 1px solid #fd9222;
    background-color: #fd9222;
}

.button-props:hover,
.button-props.focus {
    cursor: pointer;
    color: #fd9222;
    border: 1px solid #fd9222;
    background-color: #6e6e6e;
}

.button-props:first-child:hover,
.button-props:first-child:focus {
    background: #fcf1e0;
    border: 1px solid #fcf1e0;
}

.scroll-down {
    text-transform: lowercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.scroll-down:hover,
.scroll-down:focus {
    color: #fd9222;
}

.scroll-down img {
    height: 38px;
    width: auto;
}

.benefits {
    width: 100%;
    background: #1e1823;
    margin: 80px 0 0;
}

.benefits-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    gap: 88px;
    color: #fff;
    padding: 50px;
}
.benefits-list li h4 {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.benefits-list p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.ingridients {
    padding: 120px 0px 60px 0px;
    margin: 0 32px;
    background-color: #ffffff;
}

.title-size-2 {
    display: block;
    margin: 0 auto;
    width: 412px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    color: #111;
}

.title-size-2 span {
    color: #fd9222;
}

.ingridients-list {
    margin: 50px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
}

.ingridients-list li {
    width: calc((100% - 96px) / 4);
    border-radius: 15px;
}

.ingridients-list li {
    background: #1e1823;
    color: #fff;
}

.ingridients-list li:nth-child(4n + 1) {
    background: #fd9222;
    color: #fff;
}

.ingridients-list li:nth-child(2n + 2) {
    border: 1px solid #fd9222;
    background: #fff;
    color: #111;
}

.ingridients-list li img {
    padding: 28px 23px 36px;
    width: auto;
}

.ingridients-list li h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 28px;
    padding-left: 23px;
}

.how-its-made,
.our-products,
.top-sellers,
.reviews {
    padding: 60px 0;
    margin: 0 32px;
    background-color: #fafafa;
}

.how-its-made-content {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.how-its-made-content div {
    background: #fff;
    border-radius: 15px;
    padding: 32px;
}

.how-its-made-content h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    color: #111;
    margin-bottom: 28px;
}

.how-its-made-list {
    display: flex;
    flex-direction: column;
    list-style: disc;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: #111;
    gap: 24px;
    margin-left: 16px;
}

.products-list {
    margin: 50px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 18px;
}

.product {
    width: calc((100% - 54px) / 4);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background-color: #fff;
    text-align: center;
}

.product img {
    margin: 32px auto 8px;
}

.name-produtc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    margin: 8px auto 18px;
}

.name-produtc h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
}

.name-produtc p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.product button {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;
    background: #fafafa;
    margin-bottom: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.top-sellers-list {
    display: flex;
    margin: 50px auto 0;
    gap: 16px;
}

.top-sell {
    border-radius: 15px 15px 0 0;
}

.top-sell button {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111;
    cursor: pointer;
}

.review-list {
    display: flex;
    margin: 50px auto 0;
    gap: 28px;
}

.review-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(136, 64, 64, 0.1);
    box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
    background: #fff;
    border-radius: 15px;
    width: calc((100% - 56px) / 3);
}

.people {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-top: -42px;
}

.people img {
    margin: auto;
}

.review-text p {
    margin: 24px;
}
