*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #111;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #111;
  background-color: #fafafa;
}

.big-first-letter::first-letter {
  text-transform: uppercase;
}
/*
header,
section,
footer {
  background-color: #fafafa;
}
*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1158px;
  padding: 0 11px;
  margin: auto;
}
.header-container {
  flex-direction: row;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.03em;
  min-width: 215px;
  margin-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 28px 0;
}

.logo a {
  height: 24px;
}

.logo span {
  font-style: italic;
}

.svg-logo {
  --color-primary: #fcf1e0;
  --color-secondary: #fd9222;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.big-first-letter a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.big-first-letter a:hover,
.big-first-letter a:focus {
  color: #fd9222;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.social-href {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-social-network {
  fill: #111;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-href:hover,
.social-href:focus {
  border-color: rgba(253, 146, 34, 0.1);
}

.social-href:hover .svg-social-network,
.social-href:focus .svg-social-network {
  fill: #fd9222;
}

.start-page {
  padding: 381px 40px 40px;
  background: rgba(17, 17, 17, 0.4);
  background-image: url('../images/hero-bg_desk.jpg');
  background-size: cover;
  border-radius: 30px;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1136px;
}

@media (min-resolution: 192dpi) {
  .start-page {
    background-image: url('../images/hero-bg_desk@2x.jpg');
  }
}

@media (max-width: 768px) and (min-resolution: 192dpi) {
  .start-page {
    background-image: url('../images/hero-bg_tab@2x.jpg');
  }
}

@media (max-width: 376px) and (min-resolution: 192dpi) {
  .start-page {
    background-image: url('../images/hero-bgmob@2x.jpg');
  }
}

.main-head {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.slog {
  width: 484px;
  text-align: left;
}

.slog h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.two-buttons {
  display: flex;
  gap: 14px;
}

.button-props {
  border-radius: 100px;
  padding: 14px 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  transition-property: color, border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-props:first-child,
.button-props:first-child {
  border-color: #fd9222;
  background-color: #fd9222;
}

.button-props:hover,
.button-props.focus {
  color: #fd9222;
  border-color: #fd9222;
  background-color: transparent;
}

.button-props:first-child:hover,
.button-props:first-child:focus {
  background: #fcf1e0;
  border-color: #fcf1e0;
}

.scroll-down {
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down:hover,
.scroll-down:focus {
  color: #fd9222;
}

.arrow-down-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-down-svg {
  fill: #fd9222;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down:hover .arrow-down-icon,
.scroll-down:focus .arrow-down-icon {
  background-color: #fd9222;
}

.scroll-down:hover .arrow-down-svg,
.scroll-down:focus .arrow-down-svg {
  fill: #fff;
}

.benefits {
  padding: 80px 0 0;
}

.container-benefits {
  background: #1e1823;
  max-width: 100%;
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  gap: 88px;
  color: #fff;
  max-width: 1136px;
  padding: 50px 18px;
}

.benefits-item {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.hr-benefits {
  position: absolute;
  right: -106px;
  top: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 0px;
  transform: rotate(-90deg);
}

.benefit-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}

.svg-benefit {
  fill: #fd9222;
}

.benefits-item h4 {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.section-ingredients {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #fafafa;
}

.title-size-2 {
  display: block;
  margin: 0 auto;
  width: 412px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #111;
}

.title-size-2 span {
  color: #fd9222;
}

.ingridients-list {
  margin: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
}

.ingridients-list li {
  position: relative;
  width: calc((100% - 96px) / 4);
  border-radius: 15px;
  background: #1e1823;
  color: #fff;
  cursor: pointer;
}

.ingridients-list li:nth-child(4n + 1) {
  background: #fd9222;
  color: #fff;
}

.ingridients-list li:nth-child(2n + 2) {
  border: 1px solid #fd9222;
  background: #fff;
  color: #111;
}

.ingridients-list li img {
  padding: 28px 23px 36px;
  width: auto;
}

.ingridients-list li h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 28px;
  padding-left: 23px;
}

.more-icons {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-more {
  fill: #fafafa;
}

.ingridients-list li:hover .more-icons,
.ingridients-list li:focus .more-icons {
  transform: rotate(90deg);
}

.more-icons:hover,
.more-icons:focus {
  transform: rotate(90deg);
}

.ingridients-list li:nth-child(2n) .more-icons {
  border: 1px solid #fd9222;
}

.ingridients-list li:nth-child(2n) .svg-more {
  fill: #fd9222;
}

.how-its-made,
.our-products,
.top-sellers,
.reviews {
  padding: 60px 0;
  background-color: #fafafa;
  text-align: center;
}

.how-its-made-content {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.how-its-made-video {
  position: relative;
  width: 600px;
}

.play-icon {
  position: absolute;
  display: flex;
  padding-left: 14px;
  padding-top: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #f5f4f4;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-play {
  fill: #f5f4f4;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.play-icon:hover,
.play-icon:focus {
  border-color: #fd9222;
}

.play-icon:hover .svg-play,
.play-icon:focus .svg-play {
  fill: #fd9222;
}

.how-its-made-info {
  background: #fff;
  border-radius: 15px;
  padding: 32px;
  box-sizing: border-box;
  width: 516px;
}

.how-its-made-info h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 28px;
}

.how-its-made-list {
  display: flex;
  flex-direction: column;
  list-style: disc;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: left;
  color: #111;
  gap: 24px;
  margin-left: 16px;
}

.products-list {
  margin: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 18px;
}

.product {
  width: calc((100% - 54px) / 4);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
}

.product img {
  margin: 32px auto 8px;
}

.name-produtc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  margin: 8px auto 18px;
}

.name-produtc h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.name-produtc p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.product button {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  min-width: 94px;
  height: 33px;
  background: #fafafa;
  margin-bottom: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
}

.product button:hover,
.product button:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.top-sellers-list {
  display: flex;
  margin: 50px auto 0;
  gap: 16px;
}

.top-sell {
  border-radius: 15px 15px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-sell:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.div-img-with-pop-up {
  position: relative;
  overflow: hidden;
}

.pop-up-div {
  position: absolute;
  border-radius: 15px 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
  transform: translateY(150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-sell:hover .pop-up-div,
.top-sell:focus .pop-up-div {
  transform: translateY(0%);
}

.pop-up-text {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 0 40px;
}

.top-seller-button {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  background-color: #fff;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
}

.top-seller-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.review-list {
  display: flex;
  margin: 92px auto 50px;
  gap: 28px;
}

.review-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(136, 64, 64, 0.1);
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.1);
  background: #fff;
  border-radius: 15px;
  width: calc((100% - 56px) / 3);
}

.people {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  margin-top: -42px;
}

.people img {
  margin: auto;
}

.review-text p {
  margin: 24px;
}

.reviews button {
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  /*   font-family: "Montserrat", sans-serif;*/
  cursor: pointer;
  background-color: #fafafa;
  margin-bottom: 60px;
}

.reviews button:hover,
.reviews button:focus {
  background-color: #fd9222;
  color: #fff;
}

footer {
  background: #1e1823;
  color: #fff;
}

footer span {
  color: #fd9222;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-footer h2 {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
}

.information {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.social-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.information h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  font-style: normal;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.social-href-footer {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-social-network-footer {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-href-footer:hover,
.social-href-footer:focus {
  border-color: rgba(253, 146, 34, 0.1);
}

.social-href-footer:hover .svg-social-network-footer,
.social-href-footer:focus .svg-social-network-footer {
  fill: #fd9222;
}

address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

address a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  font-style: normal;
}

footer hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 32px;
  transform: rotate(-180deg);
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 68px;
}

.footer-navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-navigation .menu {
  justify-content: flex-start;
}
